@import 'aliasComponent/theme.scss';

.page-common-table-filter {
  border: 1px solid $color-border;
  margin-bottom: 20px;
  border-radius: 4px;
  padding: 20px 20px 0;
  overflow: hidden;

  .table-filter-field {
    float: left;
    margin-bottom: 20px;
    padding-right: 20px;
  }

  .table-filter-button {
    float: right;
    margin-bottom: 20px;
  }
}