$white: #ffffff;
$smoke: #f5f5f5;
$color-primary: #1890ff;
$color-primary-light2: #46A6FF;
$color-primary-light4: #D0E8FF;
$color-danger: #f5222d;

$color-text3: #333333;
$color-text6: #666666;
$color-text9: #999999;
$color-textb: #bbbbbb;

$color-border: #d9d9d9;