@import 'aliasComponent/theme.scss';
.bs-upload {
  .control {
    position: relative;
    width: 100px;
    height: 100px;
    border: 1px solid $color-border;
    text-align: center;
    border-radius: 4px;

    .tip-wrap {
      display: inline-block;
      height: 50px;
      position: relative;
      top: 25px;
      text-align: center;
      color: $color-text6;
      font-size: 14px;

      i {
        font-size: 24px;
        color: $color-text3;
      }
    }

    input[type=file] {
      opacity: 0;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }

  .list {
    overflow: hidden;
    margin-top: 10px;

    li {
      position: relative;
      float: left;
      width: 100px;
      height: 100px;

      &:hover {
        .icon-wrap {
          display: block;
        }
      }

      img {
        max-width: 100px;
        max-height: 100px;
      }

      .icon-wrap {
        display: none;
        height: 20px;
        line-height: 20px;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100px;
        background-color: $color-textb;
        color: $white;
        text-align: center;
      }
    }
  }
}