@import 'aliasComponent/theme.scss';

.page-article-add {
  width: 100%;

  .input-wrap {
    border-left: 1px solid $color-border;
    
    .article-title-input {
      width: 100%;
      border: 0;
      height: 40px;
      &:focus {
        box-shadow: 0 0 0 0;
      }
    }

    .pull-right {
      position: absolute;
      right: 0;
      top: 4px;
      width: 100px;
    }
  }

  .editor-wrap {
    display: inline-block;
    vertical-align: top;
    border-radius: 4px;
  }
}