@import 'aliasComponent/theme.scss';

.bs-select {
  width: 160px;
  display: inline-block;
  font-size: 12px;
  
  .bs-select-showarea {
    border: 1px solid $color-border;
    line-height: 30px;
    padding: 0 10px;
    border-radius: 4px;
    user-select: none;
    cursor: pointer;
  }
}

.bs-select-optionallist {
  position: absolute;
  border: 1px solid $color-border;
  border-radius: 4px;
  box-shadow: 0px 0px 8px $smoke;
  transition: all ease .2s;
  cursor: pointer;

  &:focus {
    outline: 0;
  }

  li {
    line-height: 30px;
    padding: 0 10px;
    background-color: white;

    &.selected,
    &:hover {
      background-color: $smoke;
    }
  }
}