@import "aliasComponent/theme.scss";

.bs-input {
  border: 1px solid $color-border;
  width: 160px;
  box-sizing: border-box;
  border-radius: 4px;
  outline: 0;
  padding: 0 10px;

  &:focus {
    border-color: $color-primary;
    box-shadow: 0px 0px 0px 2px $color-primary-light4;
  }
}

.bs-input-default {
  height: 32px;
}

.bs-input-large {
  height: 40px;
}

.bs-input-small {
  height: 24px;
}