@import "aliasComponent/theme.scss";



.article-add-child-category {
  background-color: $color-text3;
  height: 100vh;
  
  .wrap-btn {
    text-align: center;
    margin: 0;
    padding: 20px 20px;
    button {
      width: 100%;
    }
  }

  .category-ul {
    li {
      line-height: 36px;
      padding: 0 20px;
      color: white;
      cursor: pointer;

      &.active {
        background-color: $color-text9;
        border-left: 3px solid $color-primary;
      }

      i {
        float: right;
        padding: 0 10px;
      }
    }
  }
}
