.manage-left-menu {
  position: fixed;
  width: 200px;
  left: 0;
  top: 60px;
  height: 100%;
  background-color: #232936;
}

.manage-right-content {
  padding: 20px;
  margin-left: 200px;
  margin-top: 60px;
}