@import "aliasComponent/theme.scss";

.center-wrap {
  font-size: 14px;

  .detail {
    width: 500px;
    margin: 40px auto 0;
    border: 1px solid $color-border;

    p {
      padding: 0 10px;
      font-weight: bold;

      .edit-a {
        float: right;
      }
    }

    li {
      padding: 10px;

      .label-span {
        display: inline-block;
        vertical-align: bottom;
        width: 80px;
        margin-right: 15px;
        text-align: right;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      } 
    }
  }
}