@import "aliasComponent/theme.scss";

.center-wrap {
  font-size: 14px;
  width: 1000px;
  margin: 0 auto;

  .left-area {
    width: 260px;
    float: left;

    li {
      line-height: 50px;
      font-size: 14px;
      padding: 0 15px;
      cursor: pointer;
      border-radius: 4px;

      &:hover,
      &.active {
        background-color: $smoke;
      }
    }
  }

  .right-area {
    width: 700px;
    margin-left: 300px;

    .avatar {
      width: 100px;
      height: 100px;
      border-radius: 50%;
      margin-right: 20px;
    }
  }
}