@import "aliasComponent/theme.scss";

.manage-menu-ul {
  overflow: hidden;

  li {
    padding: 20px 15px;
    line-height: 20px;
    font-size: 16px;
    text-align: center;

    a {
      color: white;
      display: inline-block;
      position: relative;
      width: 100%;

      i {
        position: absolute;
        margin-left: -30px;
      }
    }

    &.active * {
      color: $color-primary;
    }
  }
}