@import "aliasComponent/theme.scss";

.ceiling-wrap {
  width: 100%;
  min-width: 1200px;
  border-bottom: 1px solid $color-border;
  overflow: hidden;

  .left-area {
    float: left;
    padding: 0 20px;
    height: 50px;
    
    .logo {
      width: 150px;
      height: 100%;
    }
  }

  .right-area {
    float: right;
    padding: 0 20px;
    line-height: 50px;

    a + a {
      margin-left: 10px;
    }
  }
}