@import 'aliasComponent/theme.scss';

$color-background-passport: #3c92e8;

.page-passport {
  background-color: $color-background-passport;
  height: 100vh;
  position: relative;

  header {
    text-align: center;
    color: $color-text3;
    font-size: 24px;
  }

  .passport-box {
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 4px;
    transform: translate(-50%, -50%);
    background-color: $white;
    width: 400px;
    padding: 40px 60px;
    box-shadow: 0 0 0 1px $color-border;
    box-sizing: border-box;

    input {
      width: 100%;
    }
  }
}