@import "aliasComponent/theme.scss";

.ceiling-wrap {
  width: 100%;
  height: 50px;
  min-width: 1200px;
  border-bottom: 1px solid $color-border;
  background-color: white;

  .logo-wrap {
    float: left;
    padding: 0 20px;
    height: 50px;
    
    .logo {
      width: 150px;
      height: 100%;
    }
  }

  .search-wrap {
    float: left;
    padding: 5px 20px;
    
    form {
      position: relative;

      input {
        border-radius: 20px;
        background-color: $smoke;
        transition: all ease .2s;

        &:focus {
          width: 200px;

          & + a {
            background-color: $color-textb;
            color: white;
          }
        }
      }
  
      a {
        position: absolute;
        width: 32px;
        height: 32px;
        border-radius: 16px;
        right: 10px;
        top: 4px;
        text-align: center;
        line-height: 32px;
        color: $color-text6;
      }
    }
  }

  .right-area {
    float: right;
    padding: 0 20px;

    .vistor-operation {
      display: inline-block;
      line-height: 50px;
      a {
        margin-right: 10px;
      }
    }

    .user-operation {
      position: relative;
      display: inline-block;
      height: 50px;

      &:hover {
        .wrap-img {
          background-color: $smoke;
        }

        .entrance-ul {
          display: block;
        }
      }

      .wrap-img {
        display: inline-block;
        padding: 5px 10px;

        img {
          width: 40px;
          height: 40px;
          border-radius: 20px;
          vertical-align: middle;
        }

        i {
          margin-left: 10px;
          font-weight: bold;
        }
      }

      .entrance-ul {
        position: absolute;
        display: none;
        background-color: white;
        width: 100%;
        box-shadow: 0 0 2px 2px $color-border;

        li {
          line-height: 40px;
          text-align: center;

          a {
            display: inline-block;
            width: 100%;
          }
          
          &:hover {
            background-color: $smoke;
          }
        }
      }
    }
    // a + a {
    //   margin-left: 10px;
    // }
  }
}