@import 'aliasComponent/theme.scss';

.bs-spin {
  position: relative;

  .bs-spin-body {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    min-height: 20px;
    opacity: .5;
    z-index: 9999;

    @keyframes loading {
      0% { transform: rotate(0) };
      100% { transform: rotate(360deg) };
    }

    .i-wrap {
      position: absolute;
      display: inline-block;
      width: 20px;
      height: 20px;
      left: 50%;
      top: 50%;
      margin-left: -10px;
      margin-top: -10px;
      animation: loading 1s linear infinite;
      font-size: 0;

      i {
        display: inline-block;
        width: 8px;
        height: 8px;
        border-radius: 4px;
        background-color: $color-primary;

        &:nth-child(1) {
          opacity: .25;
          margin-right: 4px;
          margin-bottom: 4px;
        }

        &:nth-child(2) {
          opacity: .5;
          margin-bottom: 4px;
        }

        &:nth-child(3) {
          opacity: .75;
          margin-right: 4px;
        }

        &:nth-child(4) {
          opacity: 1;
        }
      }
    }
  }
}