@import "aliasComponent/theme.scss";

.page-home {

  .page-home-body {
    width: 1000px;
    margin: 0 auto;
    overflow: hidden;

    .left-wrap {
      float: left;
      width: 600px;

      .article-list {
        margin-bottom: 30px;
        li {
          border-bottom: 1px solid $color-border;
          font-size: 12px;

          .title {
            font-weight: bold;
            font-size: 16px;
            color: $color-text3;
          }

          .synopsis {
            color: $color-text9;
          }

          .summary {
            color: $color-text9;

            .i-wrap {
              margin-left: 10px;
              i {
                margin-right: 4px;
              }
            }
          }
        }
      }

      .more-articles {
        display: inline-block;
        width: 100%;
        height: 40px;
        border-radius: 20px;
        background-color: $color-text9;
        color: white;
        line-height: 40px;
        text-align: center;
      }
    }
  
    .right-wrap {
      width: 300px;
      margin-left: 700px;

      .category-area {
        .title {
          font-weight: bold;
          font-size: 16px;
        }
        .category-list {
          color: $color-text3;
          overflow: hidden;

          li {
            float: left;
            cursor: pointer;
            line-height: 18px;
            font-size: 14px;
            padding: 0 10px;
            border-radius: 5px;
            border: 1px solid $color-border;
            margin: 0 10px 10px 0;
          }
        }
      }
    }
  }
}