@function col-width ($colNum) {
  @return percentage($colNum / 24);
}

[class*="bs-col"] {
  display: inline-block;
  box-sizing: border-box;
}

.bs-col-1 {
  width: col-width(1);
}

.bs-col-2 {
  width: col-width(2)
}

.bs-col-3 {
  width: col-width(3)
}

.bs-col-4 {
  width: col-width(4)
}

.bs-col-5 {
  width: col-width(5)
}

.bs-col-6 {
  width: col-width(6)
}

.bs-col-7 {
  width: col-width(7)
}

.bs-col-8 {
  width: col-width(8)
}

.bs-col-9 {
  width: col-width(9)
}

.bs-col-10 {
  width: col-width(10)
}

.bs-col-11 {
  width: col-width(11)
}

.bs-col-12 {
  width: col-width(12)
}

.bs-col-13 {
  width: col-width(13)
}

.bs-col-14 {
  width: col-width(14)
}

.bs-col-15 {
  width: col-width(15)
}

.bs-col-16 {
  width: col-width(16)
}

.bs-col-17 {
  width: col-width(17)
}

.bs-col-18 {
  width: col-width(18)
}

.bs-col-19 {
  width: col-width(19)
}

.bs-col-20 {
  width: col-width(20)
}

.bs-col-21 {
  width: col-width(21)
}

.bs-col-22 {
  width: col-width(22)
}

.bs-col-23 {
  width: col-width(23)
}

.bs-col-24 {
  width: col-width(24)
}