@function col-width ($colNum) {
  @return percentage($colNum / 24);
}

[class*="bs-col"] {
  display: inline-block;
  box-sizing: border-box;
}

@for $i from 1 through 24 {
  .bs-col-#{$i} {
    width: col-width($i);
  }
}