@import "aliasComponent/theme.scss";

$color-html-background: #fbfbfb;

html {
  height: 100%;
  background-color: $color-html-background;
}

ul,
body,
input {
  margin: 0;
  padding: 0;
}

body {
  font-family: -apple-system,SF UI Text,Arial,PingFang SC,Hiragino Sans GB,Microsoft YaHei,WenQuanYi Micro Hei,sans-serif;
  font-size: 14px;
}

ul {
  li {
    list-style-type: none;
  }
}

a {
  cursor: pointer;
  color: $color-text6;
  text-decoration: none;

  &[href] {
    color: $color-link;
  }
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.td-operation {
  a {
    color: $color-link;
  }
}