@import "aliasComponent/theme.scss";

ul,
body,
input {
  margin: 0;
  padding: 0;
}

ul {
  li {
    list-style-type: none;
  }
}

a {
  cursor: pointer;
  color: $color-text6;

  &[href] {
    text-decoration: underline;
    &:hover {
      color: $color-link;
    }
  }

  &:hover {
    color: $color-text3;
  }
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}