@import "aliasComponent/theme.scss";

$height-ceiling: 60px;

.manage-ceiling {
  position: fixed;
  height: $height-ceiling;
  left: 0;
  top: 0;
  width: 100%;
  background-color: white;
  box-shadow: 0 0 2px 2px $color-border;
  z-index: 998;

  .logo {
    width: 200px;
    height: $height-ceiling;
  }

  .breadcrumb {
    display: inline-block;
    vertical-align: top;
    height: $height-ceiling;
    line-height: $height-ceiling;
    margin-left: 20px;
    li {
      position: relative;
      float: left;
      color: $color-textb;

      & + li {
        margin-left: 20px;

        &::before {
          content: '/';
          position: absolute;
          left: -10px;
        }
      }
    }
  }

  .user-info {
    position: relative;
    float: right;
    display: block;
    padding: 10px 30px;
    color: $color-text6;
    height: $height-ceiling;
    box-sizing: border-box;
    
    &:hover {
      background-color: $smoke;
      .operation-list {
        max-height: 200px; // height: auto transition失效;通过max-height；绕过
      }
    }

    .avatar {
      width: 40px;
      height: 40px;
      border-radius: 20px;
      margin-right: 20px;
    }

    .name {
      line-height: 40px;
      float: right;
    }

    .operation-list {
      position: absolute;
      top: $height-ceiling;
      left: 0;
      width: 100%;
      max-height: 0;
      overflow: hidden;
      border-radius: 4px;
      border: 1px solid $color-border;
      background-color: white;
      transition: all linear .2s;

      li {

        &:hover {
          background-color: $smoke;
        }

        a {
          display: inline-block;
          width: 100%;
          text-align: center;
          line-height: 40px;
        }
      }
    }
  }
}