@import "aliasComponent/theme.scss";

$color-warning: #faad14;
$color-info: #1890ff;
$color-success: #52c41a;
$color-error: #f5222d;

.bs-modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $color-mask;
  z-index: 999;

  .wrap {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 520px;
    transform: translate(-50%, -50%);
    background-color: $white;
    border-radius: 4px;

    .bs-modal-header {
      line-height: 55px;
      border-bottom: 1px solid $color-border;

      .title {
        font-weight: 500;
        padding-left: 20px;
      }

      .close {
        float: right;
        padding: 0 20px;
      }
    }

    .bs-modal-body {
      padding: 20px;
    }

    .bs-modal-footer {
      border-top: 1px solid $color-border;
      padding: 10px 20px;
      text-align: center;
    }

    &.bs-dialog-wrap {
      width: 320px;
      color: $color-text3;
      line-height: 14px;
      font-size: 14px;

      .bs-modal-dialog-body {
        padding: 32px 32px 24px;

        i {
          float: left;
          font-size: 20px;

          &.icon-success {
            color: $color-success;
          }
      
          &.icon-error {
            color: $color-error;
          }
      
          &.icon-warning {
            color: $color-warning;
          }
      
          &.icon-info {
            color: $color-info;
          }
        }

        .bs-modal-dialog-right {
          margin-left: 30px;

          .title {
            margin-bottom: 18px;
          }
        }
      }

      .bs-modal-dialog-footer {
        text-align: right;
        padding: 0 32px 15px;
      }
    }
  }
}