.page-article-add {

  .page-article-add-body {
    width: 1200px;
    margin: 0 auto;

    .editor-wrap {
      display: inline-block;
      vertical-align: top;
      width: 800px;
      border-radius: 4px;
    }
  }
}