@import "aliasComponent/theme.scss";

.field {
  margin-bottom: 24px;
  .note-error,
  .note-empty {
    display: none;
    margin-right: 10px;
    font-size: 14px;
    color: $color-danger;

    i {
      margin-right: 10px;
    }
  }

  .field-label {
    text-align: right;
    width: 80px;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-right: 10px;
    vertical-align: middle;

    & + * {
      vertical-align: middle;
    }
  }

  &.error {
    .note-error {
      display: inline-block;
      padding-left: 5px;
    }

    input {
      border-color: $color-danger;
      box-shadow: 0 0 0 0;
    }
  }

  &.empty {
    .note-empty {
      display: inline-block;
      padding-left: 5px;
    }

    input {
      border-color: $color-danger;
      box-shadow: 0 0 0 0;
    }
  }
}