.field {
  .note-error,
  .note-empty {
    display: none;
    margin-left: 10px;
  }

  label {
    text-align: right;
    width: 80px;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-right: 10px;
    vertical-align: middle;
  }
}

.error {
  .note-error {
    display: inline-block;
  }  
}