@import 'aliasComponent/theme.scss';

.bs-pagination {
  overflow: hidden;
  
  li {
    float: left;
    margin-right: 8px;
    line-height: 32px;
    text-align: center;
    font-size: 14px;
    cursor: pointer;
    user-select: none;

    &.pageno-item {
      width: 32px;
      height: 32px;
      border-radius: 4px;
      border: 1px solid $color-border;
      color: $color-text3;

      &.active {
        border-color: $color-primary;
        color: $color-primary;
      }
    }

    &.elli-pageno {
      border: 0;
      &::after {
        content: '...';
      }

      &:hover {
        &.next::after {
          content: '>';
        }
        &.pre::after {
          content: '<';
        }
      }
    }

    &.disabled {
      cursor: not-allowed;
    }
  }
}