@import 'aliasComponent/theme.scss';

.article-search-list {
  margin-bottom: 30px;
  min-height: 300px;
  
  li {
    border-bottom: 1px solid $color-border;
    font-size: 12px;

    .title {
      font-weight: bold;
      font-size: 20px;
      color: $color-text3;
    }

    .synopsis {
      color: $color-text9;
      font-size: 14px;
      margin: 1em 0;
    }

    .summary {
      color: $color-text9;

      .i-wrap {
        margin-left: 10px;
        i {
          margin-right: 4px;
        }
      }
    }
  }
}