@import 'aliasComponent/theme.scss';

.bs-datepicker {
  width: 280px;
  border: 1px solid $color-border;
  box-shadow: 0px 0px 5px 2px $color-border;
  background-color: $white;

  .header {
    text-align: center;
    line-height: 40px;
    border-bottom: 1px solid $color-border;

    .left-area {
      float: left;
      position: relative;
      left: 10px;
      cursor: pointer;
    }

    .right-area {
      float: right;
      position: relative;
      right: 10px;
      cursor: pointer;
    }

    i {
      display: inline-block;
      line-height: 40px;
      color: $color-text6;
      padding: 0 5px;
    }
  }

  .content {
    padding: 8px 12px;

    table {
      table-layout: fixed;
      width: 100%;
      border-spacing: 0;

      th,
      td {
        text-align: center;
      }

      .bs-datepicker-td {
        cursor: pointer;
        line-height: 24px;
        user-select: none;
        width: 24px;
        margin: 3px auto;
        border-radius: 2px;
        &.not-current {
          color: $color-text9;
        }
        &.active {
          background-color: $color-primary;
          color: $white;
        }
      }
    }
  }

  .footer {
    text-align: center;
    color: $color-primary;
    cursor: pointer;
    line-height: 40px;
    border-top: 1px solid $color-border;
  }
}

.bs-datepicker-input-wrapper {
  position: relative;
  cursor: pointer;

  .bs-datepicker-input {
    border: 1px solid $color-border;
    width: 180px;
    box-sizing: border-box;
    border-radius: 4px;
    outline: 0;
    padding: 0 8px;
    height: 32px;
    cursor: pointer;
  }

  i {
    position: absolute;
    right: 10px;
    line-height: 32px;
  }
}
